DISCORD_TOKEN=your_discord_token_here

QBIT_URL=http://127.0.0.1:8080
QBIT_USER=admin
QBIT_PASS=your_qbittorrent_password

# optionnel
PLEX_URL=http://127.0.0.1:32400
PLEX_TOKEN=xxxx
PLEX_MOVIES_SECTION_ID=1
PLEX_SERIES_SECTION_ID=2

# YGG (login requis pour le flux RSS)
YGG_USERNAME=your_ygg_username
YGG_PASSWORD=your_ygg_password
YGG_USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0 Safari/537.36
