DISCORD_TOKEN=your_discord_token_here

QBIT_URL=http://127.0.0.1:8080
QBIT_USER=admin
QBIT_PASS=your_qbittorrent_password

# optionnel
PLEX_URL=http://127.0.0.1:32400
PLEX_TOKEN=xxxx
PLEX_MOVIES_SECTION_ID=1
PLEX_SERIES_SECTION_ID=2
PLEX_MOVIES_PATHS=D:\plexmediaserver\movies|E:\plexmediaserver\movies
PLEX_SERIES_PATHS=D:\plexmediaserver\series|E:\plexmediaserver\series
STORAGE_PICK_MODE=weighted_random
MIN_FREE_GB=30
ALERT_CHANNEL_ID=

# Prowlarr (obligatoire)
PROWLARR_URL=http://127.0.0.1:9696
PROWLARR_API_KEY=your_prowlarr_api_key
PROWLARR_INDEXER_ID=1

# Optionnel: override complet d'un flux RSS Torznab
TORZNAB_RSS_URL=
TORZNAB_USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0 Safari/537.36

# Journalisation
BOT_LOG_FILE=bot.log
BOT_LOG_LEVEL=INFO

# Force l'upload .torrent via le bot
TORZNAB_FORCE_UPLOAD=false

# Mode test: n'ajoute rien à qBittorrent (pas de téléchargement/import)
DISABLE_TORRENT_DOWNLOAD=false
